1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

* - expression
'hello' - value
-87.5 - value
- - expression
/ - expression
+ - expression
6 - value

2. What is the difference between string and variable?

varible are name reference or given object or variable are contianers to store data values
string is a data type of a variable

3. Describe three different data types.

list - it can store n number of values of different data types . list can also store list. list are mutable
example - l = [1,2,3,4,5]
dictionary - it store data values as key value pairs
example - d = {'k1':'hitesh' , 'k2':'wadhwani'}
tuple - tuple can also store n number of values of different data types . tuples are immutable.
example - t = (1,2,True,(1,2,3))

4. What is an expression made up of? What do all expressions do?

expression are the combination of operators and operands . expression are interpreted to produce some value .

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

expression are just the representation of a value while statement are the standalone action or commands or unit of code which return nothing

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

value of bacon will be incremented by 1 and its value will be 23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [5]:
'spam' + 'spam'

'spamspam'

In [6]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

egg is a valid varible name because it starts with a character
100 is invalid because valid varibale name cannot start with a number it can only start with character or underscore

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [8]:
val = 10
print(int(val))
print(float(val))
print(str(val))

10
10.0
10

10. Why does this expression cause an error? How can you fix it?
'i have eaten' + 99 + 'burritos'

In [12]:
'i have eaten' + 99+'burritos' #strings cannot be concatenated with integer

TypeError: can only concatenate str (not "int") to str

In [13]:
'i have eaten' + '99' +'burritos'

'i have eaten99burritos'